.navbar {
    background: rgba(255, 255, 255, 0.5); /* Warna putih dengan opacity 0.5 */
    backdrop-filter: blur(5px); /* Efek blur pada latar belakang */
    box-shadow: 0px 0.2px 0px 0px black; 
}

.login_btn {
    display: flex;
    justify-content: center; /* Mengatur tombol ke tengah secara horizontal */
}

.login_btn a {
    text-decoration: none; /* Menghapus dekorasi tautan */
    padding: 8px 16px; /* Padding untuk membuat tombol lebih lebar */
    border: 1px solid #ccc; /* Garis pinggir */
    border-radius: 10px; /* Membuat sudut tombol sedikit melengkung */
    color: #333; /* Warna teks */
    font-weight: bold; /* Menjadikan teks tebal */
    transition: background-color 0.3s, color 0.3s; /* Transisi untuk efek hover */
}

.login_btn a:hover {
    background-color: #000000; /* Warna latar belakang saat dihover */
    color: #fff; /* Warna teks saat dihover */
}

body {
	background: #475d3c;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
